/* 미리보기 모드 스타일 적용 */
.markdown-preview-view ol {
    list-style-type: decimal !important;
    color: var(--ordered-list-bullet-color) !important;
}

/* 중첩된 목록 스타일 적용 */
.markdown-preview-view ol ol {
    list-style-type: lower-alpha !important;
}

.markdown-preview-view ol ol ol {
    list-style-type: lower-roman !important;
}
